$red: rgb(246, 74, 74);
$orange: rgb(251, 124, 88);
$yellow: rgb(248, 205, 101);
$neonGreen: rgb(164, 255, 175);
$veryDarkGrey: rgb(24, 23, 31);
$almostWhite: rgb(230, 229, 234);
$darkGrey: rgb(36, 35, 44);
$grey: rgb(128, 124, 146);